<section class="offer">
    <div class="offer-img">
      <img src="{{this.img}}" alt="">
    </div>
    <div class="offer-text">
      <h2>{{this.title}}</h2>
      <p>{{this.text}}</p>
    </div>
</section>
