

<div class="container">
  <main class="content">

    <section class="main-offer">
      <div class="title">
        <h1>ВТБ24 предлагает покупателям «Пресня Сити», «Басманный,5» и «Царская площадь» премиальное банковское обслуживание</h1>
        <div class="offer-end-date">
          до 31 января
        </div>
      </div>

      <div class="main-offer-img">
        <img src="" alt="">
      </div>

      <div class="main-offer-text">
        <p>Размещение позиционирует институциональный стратегический маркетинг. Такое понимание ситуации восходит к Эл Райс, при этом нестандартный подход категорически экономит комплексный медиабизнес. Ценовая стратегия индуцирует бренд.</p>
      </div>

      <div class="main-offer-phone">
        <p>Узнать детали</p>
      </div>
    </section>

    {{#each spec-offer.spec-offers}}
      {{> spec-offer}}
    {{/each}}

  </main>

  <aside class="sidebar">

    {{#each offer.offers}}
      {{> offer}}
    {{/each}}

  </aside>
</div>
