<div class="header-main">
  <div class="container">

    <nav  class="clearfix">
      <a href="" class="header-main-logo">
        <img src="assets/img/GED-Logo.svg" alt="" width="180">
      </a>
      <ul class="header-main-nav">
          <li><a href="" class="link-dotted">Продажа</a></li>
          <li><a href="" class="link-dotted">Аренда</a></li>
          <li><a href="" class="link-icon link-spec">Спецпредложения</a></li>
          <li><a href="" class="active">Новостройки</a></li>
          <li><a href="">Посёлки</a></li>
          <li><a href="">Риэлторы</a></li>
          <li><a href="">Журнал</a></li>
          <!-- <li><a href="" class="link-img"><img src="assets/img/Absolut-Logo.svg" alt="" width="80"></a></li> -->
          <li><a href="" class="link-img">{{> svg-header}}</a></li>
      </ul>
      <a href="" class="header-main-offer">
        <img src="assets/img/header-offer.png" alt="">
      </a>
    </nav>

  </div>
</div>
