.header-main {
  background: #3a3a43;
  padding: 10px 0;
}

.header-main-logo {
  display: block;
  text-decoration: none;
  margin-right: 25px;
  vertical-align: top;
  float: left;
  position: relative;
  top: 3px;
  img {
    display: block;
  }
}

.header-main-nav {
  list-style: none;
  float: left;
  li {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 0;
  }
  a {
    display: block;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    &:hover, &.active {
      color: #fc0;
      border-color: #fc0;
      &:after {
        content: '';
        display: block;
        height: 3px;
        background: #fc0;
        position: absolute;
        left: -3px;
        right: -3px;
        bottom: -18px;
      }
    }
    &.active {
      font-weight: 700;
      pointer-events: none;
    }
  }
  a.link-img {
    position: relative;
    top: 2px;
    &:after {
      display: none;
    }
    &:hover {
      .cls-1 {
        fill: #39c;
      }
    }
  }
  .link-spec {
    color: #ff7d41;
    margin-left: 0;
    padding-left: 20px;
    &:before {
      left: 0;
    }
  }
}

.header-main-offer {
  display: inline-block;
  text-decoration: none;
  float: right;
  img {
    display: block;
  }
}
