.link-dotted {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.link-icon {
  margin-left: 20px;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: url(../img/header-icons.png);
    position: absolute;
    left: -20px;
    top: 50%;
  }
}

.link-place-on {
  &:before {
    width: 15px;
    height: 15px;
    background-position: -50px 0;
    margin-top: -8px;
  }
  &:hover {
    &:before {
      background-position: -65px 0;
    }
  }
}
.link-register {
  &:before {
    width: 16px;
    height: 13px;
    background-position: 0px -68px;
    margin-top: -7px;
  }
  &:hover {
    &:before {
      background-position: -17px -68px;
    }
  }
}
.link-sign-in {
  &:before {
    width: 14px;
    height: 14px;
    background-position: 0px -34px;
    margin-top: -7px;
  }
  &:hover {
    &:before {
      background-position: -17px -34px;
    }
  }
}
.link-spec {
  &:before {
    width: 17px;
    height: 24px;
    background-position: 0 -109px;
    margin-top: -12px;
  }
}
