body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    height: 0;
    clear: both;
  }
}
