
<section class="spec-offer">
    <div class="spec-offer-img">
      <img src="{{this.img}}" alt="">
    </div>
    <div class="spec-offer-text">
      <h2>{{this.title}}</h2>
      <p>{{this.text}}</p>
    </div>
    <div class="spec-offer-counter">

    </div>
</section>
