.header-top {
  background: #000;
  ul {
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
      line-height: 28px;
    }
    a {
      font-size: 12px;
      color: #b9b9c3;
      text-decoration: none;
      &.active {
        font-weight: 700;
        color: #fff;
        pointer-events: none;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}

.header-top-nav-left { 
  li {
    margin-right: 15px;
  }
}

.header-top-nav-right {
  float: right;
  li {
    margin-left: 15px;
  }
}
