<div class="header-top">
  <div class="container">

    <nav>
      <ul class="header-top-nav-left">
          <li><a href="" class="active">Москва и МО</a></li>
          <li><a href="">С.-Петербург и ЛО</a></li>
          <li><a href="">Другие регионы</a></li>
          <li><a href="">Зарубежная недвижимость</a></li>
          <li><a href="">Поиск на карте</a></li>
      </ul>

      <ul class="header-top-nav-right">
          <li><a href="" class="link-icon link-place-on">Разместить объявление</a></li>
          <li><a href="" class="link-icon link-register">Зарегистрироваться</a></li>
          <li><a href="" class="link-icon link-sign-in link-dotted">Войти</a></li>
      </ul>
    </nav>

  </div>
</div>
